html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

.main {
    background-color: #053C5E;
    height: 100%;
    width: 100%;
}

.main h1 {
    color: #F3F9D2;
    font-size: 6rem;
}
.box {
    background-color: #1F7A8C;
    width: 40vw;
    height: 40vh;
    border-radius: 10px;
    color: #F3F9D2;

}

.align-center {
    display: flex;
    justify-content: center;
    justify-self: center;
    align-items: center;
    flex-direction: column;
}